/* body { font-family: Arial, Helvetica, sans-serif;}
button { padding: 10px 20px ; font-size: 16px ;} */

/* #clickableDiv { width: 100px; height: 100px ; background-color: blue ;} */
/* 
#myDiv { width: 200px; height: 200px; background-color: green;}
#output { margin-top: 20px ; font-size: 18px ;} */

/* #myDiv { width: 100px ; height: 100px ; background-color: green; position: absolute;} */

#myDiv { width: 200px; height: 200px; background-color: yellow;}
