/* body {
    font-family: Arial, Helvetica, sans-serif;
}

#output {
    color: green;
} */

body { font-family: Arial, sans-serif;
color: teal;}






















