.draggable {
    width: 100px;
    height: 100px;
    background-color: lightblue;
    margin: 10px;
    display: inline-block;
    cursor: move;
}

.dropzone {
    width: 300px ;
    height: 300px ;
    border: 2px dashed #ccc;
    margin: 10px ;
    display: inline-block;
}