/* ol { 
    list-style-type:lower-roman ; }  /* NUMARALAR VARSAYILAN OLARAK GELİR */ 

/* ul { list-style-type: disc ;}  */

/* ul {
    list-style-type: circle ;
} */ 
/* div {
    margin: 20px 10px 40px 50px ; üst ve alt 20 px , sağ ve sol 10 px */
    /* padding: 15px 20px 30px 40px ; 
    border : 10PX solid black
} */

/* ol ul { 
    list-style-type: circle ; /* Yanlızca iç içe olan liste için madde işareti 
} */
 /* div {
    width: 500px ;
    margin: 0 auto ;
    border: : 1px solid black ; /* Otomatik olarak ortalanmış 
 } */

 